/* src/styles/global.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Georgia', 'serif';
  background-color: #fdfaf6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'sans-serif';
  font-weight: bold;
}
